/*** Border ***/
$borders: (
  "one": 1,
  "two": 2,
);
@each $key, $bd in $borders {
  .bd-#{$key} {
    border-width: #{$bd}px !important;
    border-style: solid;
  }
}
/*** Border top ***/
$borders-t: (
  "one": 1,
);
@each $key, $bd in $borders-t {
  .bd-t-#{$key} {
    border-top-width: #{$bd}px !important;
    border-top-style: solid;
  }
}
/*** Border Bottom ***/
$borders-b: (
  "one": 1,
);
@each $key, $bd in $borders-b {
  .bd-b-#{$key} {
    border-bottom-width: #{$bd}px !important;
    border-bottom-style: solid;
  }
}
/*** Border right ***/
$borders-r: (
  "one": 1,
);
@each $key, $bd in $borders-r {
  .bd-r-#{$key} {
    border-right-width: #{$bd}px !important;
    border-right-style: solid;
  }
}
/*** Border Radius ***/
$bdr-array: 0;
@each $bdr in $bdr-array {
  .bd-ra-#{$bdr} {
    border-radius: #{$bdr}px !important;
  }
}
@for $bdra from 1 through 30 {
  .bd-ra-#{$bdra} {
    border-radius: #{$bdra}px !important;
  }
}
/*** Border Top left Radius ***/
$bdr-tl-array: 0;
@each $bdr in $bdr-tl-array {
  .bd-tl-ra-#{$bdr} {
    border-top-left-radius: #{$bdr}px !important;
  }
}
/*** Border Top right Radius ***/
$bdr-tr-array: 0;
@each $bdr in $bdr-tr-array {
  .bd-tr-ra-#{$bdr} {
    border-top-right-radius: #{$bdr}px !important;
  }
}
/*** Border bottom left Radius ***/
$bdr-bl-array: 0;
@each $bdr in $bdr-bl-array {
  .bd-bl-ra-#{$bdr} {
    border-bottom-left-radius: #{$bdr}px !important;
  }
}
/*** Border bottom right Radius ***/
$bdr-br-array: 0;
@each $bdr in $bdr-br-array {
  .bd-br-ra-#{$bdr} {
    border-bottom-right-radius: #{$bdr}px !important;
  }
}
