// Home service slider
.service_slider_area {
  position: relative;
  top: -57px;
  @media screen and (max-width: 1440px) {
    top: -40px;
  }
  @media screen and (max-width: 575px) {
    top: -35px;
  }
}
// .brand_service_slider {
//   .single_brand_service_slider {
//     animation: marquee 10s linear infinite;
//   }
// }
// @keyframes marquee {
//   0% {
//     transform: translateX(100%);
//   }
//   100% {
//     transform: translateX(-100%);
//   }
// }
